*{
	padding:0;
	margin:0;
}
body{
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing:antialiased !important;
}
li{
	list-style: none;
	display: inline-block;
}
a{
	text-decoration: none;
	transition: all 500ms ease-in-out;
}
a:hover,
a:active{
	text-decoration:none;
}
h1,
h2,
h4{
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}
p{
	font-size: 15px;
	line-height: 21px;
}
.btn{
	transition: all 300ms ease-in-out;
	font-weight: 500 !important;
	text-transform: uppercase;
}
/*
.btn:hover{
	background-color:#ededed !important;
	color: #3c3c3c !important;
	border:1px solid #fff !important;
}*/

/*NAVIGATION*/
.navbar{
	background-color: #222222 !important;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 700;
}
.navbar a{
	color: #fff!important;
	opacity: 0.7;
	background-color:#222222;
}
.navbar a:hover{
	opacity: 1;
	
}
.navbar .dropdown-menu, .navbar a{
	background-color: #111111;
}


/*Navigation new*/

 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #222222;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }


/*Navigation new */

/* carasol full width */
.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
      max-height: 400px;
        filter:contrast(120%);
}
  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }


/*End Carasol*/

/*HEADER*/
.header{
	height: 700px;
	width:100%;
	padding:30px 0px 30px;
	margin-top: 0px;
/*
	background-image: url(../images/header.jpg);
*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size:cover;
	color: #ffffff;
}
.header img{
	height: 350px;
	width: 450px;
	margin: 70px 0px 0 40px;
	border-radius: 30px;
	opacity: 0.8;
}
.header h1{
	font-family: 40px;
	font-weight: 700;
	padding-top: 30px;
}
.header h1,
.header p,
.header button{
	margin-top: 20px;
}
.header .btn{
border-radius: 0px;
margin:40px 10px 40px 0;
}

.main-content{
background-color: white;
}

/*Side nav*/
.sidenav {
	height: 100%;
	min-height: 535px;
    background-color: #111;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav a {
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.leftNav a{
	text-align: left;
	font-weight: 700;
	line-height: 20px;
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    color: #aaaaaa;
    background-color: #337ab7;
    display: block;
    transition: 0.3s;
    border-radius: 10px;	
}
.rightNav{
overflow:hidden;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    background-color: #fffc2d;
}



.nav-tabs, a {
	color:black;
}
